<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Required permissions for Line SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application>
        <!-- Line SDK Configuration -->
        <meta-data
            android:name="com.linecorp.linesdk.ChannelId"
            android:value="@string/line_channel_id" />
        
        <!-- Line SDK Authentication Activity -->
        <activity
            android:name="com.linecorp.linesdk.auth.internal.LineAuthenticationActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="lineauth" />
            </intent-filter>
        </activity>
    </application>
    
</manifest>
